

<div class="container">
    <div class="col-sm-12">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center align">
          <h2>Inscription Client</h2>
        </div>
      </div>
    </div>
  </div>
  <form class="s12 white" #clientInscription="ngForm" (ngSubmit)="Enregsitrement(clientInscription)">
    <div class="row">
      <div class="input-field col s6">
        <input class="validdate" type="text" name="nom" #nom="ngModel" [(ngModel)]="client.nom" required> 
        <label data-error="Champs obligatoire">Nom</label>
      </div>
      <div class="input-field col s6">
        <input  class="validdate" type="text" name="prenom" #prenom="ngModel" [(ngModel)]="client.prenom" required>
        <label data-error="Champs obligatoire">Prenom</label>
      </div>
      <div class="input-field col s6">
        <input class="validdate" type="email" name="email" #email="ngModel" [(ngModel)]="client.email" required>
        <label data-error="Champs obligatoire">Email</label>
      </div>
      <div class="input-field col s6">
        <input class="validdate" type="password" name="motdepasse" #motdepasse="ngModel" [(ngModel)]="client.motdepasse" required minlength="6">
        <label [attr.data-error]="motdepasse.errors!=null?(motdepasse.errors.required?'Champs obligatoire':'Minimum 6 caracteres'):''">Mot de passe</label>
      </div>
      <div class="input-field col s6">
        <input class="validdate" type="text" name="CIN" #cin="ngModel" [(ngModel)]="client.CIN" required>
        <label data-error="Champs obligatoire">Numero Carte d'Identité</label>
      </div>
      <div class="input-field col s6">
        <input class="validdate" type="text" name="telephone" #telephone="ngModel" [(ngModel)]="client.telephone" required>
        <label data-error="Champs obligatoire">Telephone</label>
      </div>
      <div class="input-field col s6">
        <input class="validdate" type="text" name="adresse" #adresse="ngModel" [(ngModel)]="client.adresse" required>
        <label data-error="Champs obligatoire">Adresse</label>
      </div>
    
    </div>
    <div class="row" style="margin-left: 280px">
      <div class="input-field col s4">
        <button class="btn-large btn-submit" type="submit">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</div>