<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card">
          <div class="sm-jumbotron center align">
            <h2>Connexion Client</h2>
          </div>
        </div>
      </div>
    </div>
    <form class="s12 white" #clientconnexion="ngForm" (ngSubmit)="clientConnexion(clientconnexion)">
      <div class="row">
        <div class="input-field col s6">
          <input class="validdate" type="email" name="email" #email="ngModel" [(ngModel)]="client.email" required>
          <label data-error="Champs obligatoire">Email</label>
        </div>
        <div class="input-field col s6">
          <input class="validdate" type="password" name="motdepasse" #motdepasse="ngModel" [(ngModel)]="client.motdepasse" required
            minlength="6">
          <label [attr.data-error]="motdepasse.errors!=null?(motdepasse.errors.required?'Champs obligatoire':'Minimum 6 caracteres'):''">Mot de passe</label>
        </div>
        <div class="row" style="margin-left: 200px">
          <div class="input-field col s4">
            <button class="btn-large btn-submit" type="submit">Enregistrer</button>
          </div>
          <div class="row">
          <div class="input-field col s4">
              <button class="btn-large btn-submit" routerLink="/sincrire"type="submit">S'incrire</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</div>