

<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v4.7.6, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.7.6, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../assets/images/logo4.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="../../assets/tether/tether.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/theme/css/style.css">
    <link rel="stylesheet" href="../../assets/gallery/style.css">
    <link rel="stylesheet" href="../../assets/mobirise/css/mbr-additional.css" type="text/css">

</head>

<body>
    <div>
        <router-outlet></router-outlet>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="#">LOCATION VEHICULE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="#">A Propos</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                      
                        </li>

                </ul>
                <label style="width: 350px;margin-left: 50px;font-size: 20px"> Bienvenue !<span style="color: #000;"> {{prenom }} {{nom }}</span> </label>
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand"  routerLink="/{{url_Connexion}}">{{msg_Connexion}}</a>
                    <a class="navbar-brand"  routerLink="/{{url_Inscription}}">{{msg_Inscription}}</a>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    <section class="mbr-gallery mbr-slider-carousel cid-qTgz7sISea" id="gallery2-0">
        <div class="jumbotron">
            <div class="container">
                <div>
                    <div class="mbr-gallery-row">
                        <div class="mbr-gallery-layout-default">
                            <div>
                                <div>
                                    <table>
                                        <thead>
                                          <tr>
                                              <th>Voiture</th>
                                              <th>Immatriculation Voiture</th>
                                              <th>Date Début - Date Fin Location</th>
                                              <th> Modele</th>
                                              <th> Prix Location</th>
                                          </tr>
                                        </thead>
                                    <div class="mbr-gallery-item mbr-gallery-item--p2" data-video-url="false" data-tags="Impressionnant">
                                      </div> 
                                            <tbody>
                                                <div></div>
                                              <tr *ngFor="let r of reservations?.data">
                                                <td > <img src="{{r.photo}}" width="70px" height="70px"></td>
                                                <td>{{r.matricule}}</td>
                                                <td>{{r.dateDebutLocate}} -- {{r.dateFinLocation}}</td>
                                                <td>{{r.modele}}</td>
                                                <td>{{r.montantLocation}} </td>
                                              
                                              </tr>
                                            </tbody>
                                          </table>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../assets/web/assets/jquery/jquery.min.js"></script>
    <script src="../../assets/popper/popper.min.js"></script>
    <script src="../../assets/tether/tether.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/smoothscroll/smooth-scroll.js"></script>
    <script src="../../assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="../../assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
    <script src="../../assets/masonry/masonry.pkgd.min.js"></script>
    <script src="../../assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../../assets/theme/js/script.js"></script>
    <script src="../../assets/gallery/player.min.js"></script>
    <script src="../../assets/gallery/script.js"></script>
    <script src="../../assets/slidervideo/script.js"></script>

</body>

</html>