
<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v4.7.6, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.7.6, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../../assets/images/logo4.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="../../assets/tether/tether.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../../assets/theme/css/style.css">
    <link rel="stylesheet" href="../../assets/gallery/style.css">
    <link rel="stylesheet" href="../../assets/mobirise/css/mbr-additional.css" type="text/css">

</head>

<body>
    <div>
        <router-outlet></router-outlet>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="">LOCATION VEHICULE</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="#">A Propos</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                      
                        </li>

                </ul>
                <label style="width: 350px;margin-left: 50px;font-size: 20px"> Bienvenue !<span style="color: #000;"> {{prenom }} {{nom }}</span> </label>
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand"  routerLink="/{{url_Connexion}}">{{msg_Connexion}}</a>
                    <a class="navbar-brand"  routerLink="/{{url_Inscription}}">{{msg_Inscription}}</a>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>





<div class="container">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src=""></script>
  <link href="../../assets/css/bootstrap-datepicker.css" type="text/css" rel="stylesheet">
  <script src="../../assets/js/bootstrap-datepicker.js"></script>


  <div class="col-sm-12">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card">
          <div class="sm-jumbotron center align">
            <h2>Reservation Voiture</h2>
          </div>
        </div>
      </div>

      <div class="container" style="margin-left: 300px">
        <img src="{{photo}}" style="width: 520px;height: 320px;" alt="" title="">
        <span class="icon-focus"></span>
        <p></p>
        <label for="exampleInputEmail1">Type Voiture : {{marque}} </label>
        <br>
        <label for="exampleInputEmail1">Marque : {{typevoiture}} </label>
        <br>
        <label for="exampleInputEmail1">Modele : {{modele}} </label>
        <br>
        <label for="exampleInputEmail1">Prix Location : {{prixLoc}} FCFA </label>
      </div>
    </div>
    <form class="s12 white" #formReservation="ngForm" (ngSubmit)="Enregsitrement(formReservation)">
      <div class="row">
        <div class="input-field col s6">
          <input class="validdate" type="text" name="dateDebutLocate" #dateDebutLocate="ngModel" [(ngModel)]="reservation.dateDebutLocate"
            placeholder="La Date de Début Location" required>
        </div>
        <div class="input-field col s6">
          <input class="validdate" type="text" name="dateFinLocation" #dateDebutLocate="ngModel" [(ngModel)]="reservation.dateFinLocation"
            placeholder="La Date de Fin Location" required>
        </div>

        <div class="input-field col s6">
          <label for="disabled"> Nombre de jour(s)</label>
          <input type="text" (ngModelChange)="calculMontantReservation(reservation.nbjour,prixLoc)" value="Nombre de jour(s)" name="nbjours"
            [(ngModel)]="reservation.nbjour" class="validate">

        </div>
        <div class="input-field col s6" read>
          <label for="disabled"> Montant de la Location : {{reservation.montantLocation }}</label>
          <label type="text" value="Montant de la Location" name="montantLocation" [(ngModel)]="reservation.montantLocation">
            </label>
        </div>
      </div>
      <div class="col-sm-4" style="margin-left: 280px">
      <div class="row">
        <div class="input-field col s4">
          <button class="btn-large btn-submit" type="submit">Enregistrer</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>